doctype html
html(ng-app='Vidzy')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://libs.useso.com/js/angular.js/1.3.0-beta.9/angular.min.js')
    script(src='http://libs.useso.com/js/angular.js/1.3.0-beta.9/angular-resource.js')
    script(src='http://libs.useso.com/js/angular.js/1.3.0-beta.9/angular-route.js')
    script(src='/javascripts/vidzy.js')
  body
    block content
